[submodule "TinyEngine/vendor/spdlog"]
	path = TinyEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "TinyEngine/vendor/GLFW"]
	path = TinyEngine/vendor/GLFW
	url = https://github.com/TheCherno/glfw.git
[submodule "TinyEngine/vendor/imgui"]
	path = TinyEngine/vendor/imgui
	url = https://github.com/TheCherno/imgui.git
[submodule "TinyEngine/vendor/glm"]
	path = TinyEngine/vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "TinyEngine/vendor/yaml-cpp"]
	path = TinyEngine/vendor/yaml-cpp
	url = https://github.com/TheCherno/yaml-cpp.git
[submodule "TinyEngine/vendor/ImGuizmo"]
	path = TinyEngine/vendor/ImGuizmo
	url = https://github.com/TheCherno/ImGuizmo.git
