# Binaries
**/bin/
bin-int/
Intermediates/

# TinyEngine files
*.log
# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user

# Directories
TinyEngine/vendor/VulkanSDK
Tiny-Editor/assets/cache
scripts/__pycache__
